<!doctype HTML>
    <html>
    <head>
        <meta charset="UTF-8">
        <title>Document</title>
        <link rel="stylesheet" href="./style.css">
        <script src="./script.js"></script>
    </head>
    <body>
        <h1>I want more squishies</h1>
        <form method="POST" action="/jelly">
            <label> Name
            <input type="text" name="name" value="name plz">
            </label>
            <label> Pow
            <input type="text" name="superpower" value="power">
            </label>
            <label> Squish
            <input type="text" name="squishiness" value="squish lvl">
            </label>
            <input type="submit" value="do jelly">
        </form>
    </body>
</html>