h1, h2{
    font-family: sans-serif;
    font-weight: bolder;
}

input.ng-valid.ng-dirty { 
    border: 1px solid grey;
    border-left: 3px solid green;
} 
input.ng-invalid.ng-dirty { 
    border: 1px solid grey;
    border-left: 3px solid red;
}

form {
    position: relative;
    display: inline-block;
}

h2{
    text-align: center
}

.response{
    border: 2px solid black;
    padding: 0 1em 1em 1em;
}

.input_wrapper{
    display:inline-block;
    border: 2px solid black;
    padding: 0 1em 1em 1em;
}

label{
    display:block;
    text-align: right;
}

.val_message{
    font-size: 0.8em;
    text-align: center;
    color: red;
    margin-top:0;
}

input[type="submit"]{
    display: block;
    position: relative;
    width: 100%;
}

