<!doctype HTML>
    <html>
    <head>
        <meta charset="UTF-8">
        <title>The Magic Counter</title>
        <link rel="stylesheet" href="./style.css">
        <script src="./script.js"></script>
    </head>
    <body>
        <div class="main">
            <h1>The Great Counter</h1>
            <p><span class="bigCounter"><%= counter %></span></p>
            <form method="GET" action="/updateCounterx1">
                <input type="submit" value="BOSS INCREMENT">
            </form>
            <form method="GET" action="/updateCounterx2" class="little">
                <input type="submit" value="DEMON INCREMENT">
            </form>
            <form method="GET" action="/resetCounter" class="tiny">
                <input type="submit" value="DAS DESTROYA">
            </form>
        </div>
    </body>
</html>