<!doctype HTML>
    <html>
    <head>
        <meta charset="UTF-8">
        <title>On you done it now</title>
        <link rel="stylesheet" href="./style.css">
    </head>
    <body>
        <h1>You are a toad</h1>
        <p>Cheaters are not welcome here. Go think on your failures.</p>
        <p><a href=".">Prey I do not remember your face...</a></p>
    </body>
</html>