<!doctype HTML>
    <html>
    <head>
        <meta charset="UTF-8">
        <title>Today you suck</title>
        <link rel="stylesheet" href="./style.css">
    </head>
    <body>
        <h1>Loser Alert!</h1>
        <p>I am thinking of a number, it's between 1 and 100 inclusive. Care to guess?</p>
        <p>Your last guess sucked.</p>
        <form action="/guess" method="GET">
            <label>
                <input type="text" name="myNumber">
            </label>
            <input type="submit" value="RECLAIM HONOUR">
        </form>
    </body>
</html>