<!doctype HTML>
    <html>
    <head>
        <meta charset="UTF-8">
        <title>Today you RULE!</title>
        <link rel="stylesheet" href="./style.css">
    </head>
    <body>
        <h1>You have defeated me!</h1>
        <p>I once throught of a number, it was between 1 and 100. You guessed it.</p>
        <p>Your last guess of <%= correctNumber %> was correct.</p>
        <form action="/reset" method="GET">
            <input type="submit" value="GO AGAIN?">
        </form>
    </body>
</html>